openapi: 3.0.1
info:
  title: Cloud Application Security Account Management Conf API
  license:
    name: Imperva License Agreement.
    url: http://www.imperva.com/other/license_agreement.asp
  version: '1.0'
  description: Add, delete, and modify accounts. Get account details.
servers:
- url: https://my.imperva.com
  description: Imperva API server
  variables: {}
security:
- api_key: []
- api_id: []
tags:
- name: Conf
paths:
  /v1/conf/webServices/{siteName}/{serverGroupName}/{webServiceName}:
    put:
      operationId: updateWebService
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/WebServiceDetailsDTO'
    post:
      operationId: createWebService
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/WebServiceDTO'
    delete:
      operationId: deleteWebService
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    get:
      operationId: getWebServiceDetails
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/WebServiceDetailsDTO'
  /v1/conf/dbServices/{siteName}/{serverGroupName}:
    get:
      operationId: getAllServices
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/ServicesDTO'
  /v1/conf/tags/{tagName}/taggedObjects:
    post:
      operationId: tagObjects
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: tagName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/TaggedItemsDTO'
    delete:
      operationId: unTagObjects
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: tagName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/TaggedItemsDTO'
    get:
      operationId: getTagObjects
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: tagName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: purpose
        in: query
        required: false
        schema:
          type: string
        description: ''
      - name: type
        in: query
        required: false
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/TaggedItemsDTO'
  /v1/conf/gateways/{gatewayName}/reverseProxy/aliases:
    get:
      operationId: getAllKrpAliases
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: gatewayName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/KrpAliasesDTO'
  /v1/conf/dataSets/{dataSetName}/data:
    put:
      operationId: incrementalOperationsOnDataset
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: dataSetName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: overwrite
        in: query
        required: false
        schema:
          type: boolean
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/DatasetRecordsActionDTO'
    post:
      operationId: updateDatasetRecords
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: dataSetName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/DatasetRecordsDTO'
    delete:
      operationId: deleteAllDatasetRecords
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: dataSetName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    get:
      operationId: getDatasetRecords
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: dataSetName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: from
        in: query
        required: false
        schema:
          type: integer
        description: ''
      - name: to
        in: query
        required: false
        schema:
          type: integer
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/DatasetRecordsOutputDTO'
  /v1/conf/webProfile/{siteName}/{serverGroupName}/{webServiceName}/{webApplicationName}/directories:
    put:
      operationId: setDirectoriesLock
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webApplicationName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              items:
                $ref: '#/definitions/WebProfileDirectoryDTO'
              type: array
    get:
      operationId: getDirectoriesLock
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webApplicationName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                items:
                  $ref: '#/definitions/WebProfileDirectoryDTO'
                type: array
  /v1/conf/dbApplications/{siteName}/{serverGroupName}/{dbServiceName}/{dbApplicationName}/dbSecurityPolicies:
    get:
      operationId: getDBSecurityPoliciesAppliedToApplication
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: dbServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: dbApplicationName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/DBSecurityPoliciesDTO'
  /v1/conf/applicationGroups/{applicationGroupName}/auditPolicies:
    get:
      operationId: getAuditPoliciesAppliedToApplicationGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: applicationGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/AuditPoliciesDTO'
  /v1/conf/webServices/{siteName}/{serverGroupName}/{webServiceName}/trpRules/{serverIp}/{listenerPortList}:
    put:
      operationId: updateTrpRule
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverIp
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: listenerPortList
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/TransparentReverseProxyConfigurationDTO'
    post:
      operationId: createTrpRule
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverIp
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: listenerPortList
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/TransparentReverseProxyConfigurationDTO'
    delete:
      operationId: deleteTrpRule
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverIp
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: listenerPortList
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    get:
      operationId: getTrpRule
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverIp
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: listenerPortList
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/TransparentReverseProxyConfigurationDTO'
  /v1/conf/dbServices/{siteName}/{serverGroupName}/{serviceName}/logCollectors:
    post:
      operationId: createLogCollector
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serviceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/LogCollectorDTO'
    get:
      operationId: getLogCollectorsByService
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serviceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/LogCollectorsDTO'
  /v1/conf/dbSecurityPolicies:
    get:
      operationId: getAllDBSecurityPolicies
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: apply-level
        in: query
        required: false
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/DBSecurityPoliciesDTO'
  /v1/conf/dbServices/{siteName}/{serverGroupName}/{serviceName}/logCollectors/{logCollectorName}:
    put:
      operationId: updateLogCollector
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serviceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: logCollectorName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/LogCollectorDTO'
    delete:
      operationId: deleteLogCollector
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serviceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: logCollectorName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    get:
      operationId: getLogCollectorByName
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serviceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: logCollectorName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/LogCollectorDTO'
  /v1/conf/dataSets/createDataset:
    post:
      operationId: createDataset
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: caseSensitive
        in: query
        required: false
        schema:
          type: boolean
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/DatasetColumnsDTO'
  /v1/conf/webServices/{siteName}/{serverGroupName}/{webServiceName}/sslCertificates/{sslKeyName}:
    post:
      operationId: uploadCertificate
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: sslKeyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/UploadCertificateDTO'
    delete:
      operationId: removeCertificate
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: sslKeyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    get:
      operationId: getCertificate
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: sslKeyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/CertificateDTO'
  /v1/conf/dbServices/{siteName}/{serverGroupName}/{dbServiceName}/agents/{agentName}/dataInterfaces/{dataInterfaceID}:
    post:
      operationId: applyDataInterfaceToService
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: dbServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: agentName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: dataInterfaceID
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    delete:
      operationId: unapplyDataInterfaceToService
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: dbServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: agentName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: dataInterfaceID
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
  /v1/conf/agents/{agentName}/dataInterfaces:
    get:
      operationId: getAllDataInterfaces
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: agentName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/DataInterfacesDTO'
  /v1/conf/policies/security/webApplicationCustomPolicies:
    get:
      operationId: getAllPolicies
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/CustomWebPoliciesDTO'
  /v1/conf/dasAssessment/scans:
    post:
      operationId: scans
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      responses:
        default:
          description: successful operation
  /v1/conf/applicationGroups/{parentApplicationGroupName}/applicationGroups/{childApplicationGroupName}:
    post:
      operationId: createApplicationGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: parentApplicationGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: childApplicationGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
  /v1/conf/dasAssessment/scanRecords:
    post:
      operationId: scanRecords
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/DasAssessmentRecordsFilterDTO'
  /v1/conf/serverGroups/{siteName}/{serverGroupName}:
    put:
      operationId: updateServerGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/ServerGroupDTO'
    post:
      operationId: createServerGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    delete:
      operationId: deleteServerGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    get:
      operationId: getServerGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/ServerGroupDTO'
  /v1/conf/applicationGroups/{applicationGroupName}/dbSecurityPolicies:
    get:
      operationId: getDBSecurityPoliciesAppliedToApplicationGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: applicationGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/DBSecurityPoliciesDTO'
  /v1/conf/serverGroups/{siteName}/{serverGroupName}/protectedIPs:
    get:
      operationId: getProtectedIPs
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/ProtectedIPsDTO'
  /v1/conf/auditPolicies/{policyName}:
    post:
      operationId: createAuditPolicy
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: policyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/CreateAuditPolicyDTO'
    delete:
      operationId: deleteAuditPolicy
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: policyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
  /v1/conf/webProfile/{siteName}/{serverGroupName}/{webServiceName}/{webApplicationName}/url/{urlName}:
    put:
      operationId: putURL
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webApplicationName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: urlName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/WebProfileUrlDTO'
    delete:
      operationId: deleteURL
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webApplicationName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: urlName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    get:
      operationId: getURL
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webApplicationName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: urlName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/WebProfileUrlDTO'
  /v1/conf/webServices/{siteName}/{serverGroupName}/{webServiceName}/trpRules:
    get:
      operationId: getAllTrpRules
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/TrpRulesDTO'
  /v1/conf/policies/security/webApplicationSignaturesPolicies/{policyName}:
    put:
      operationId: updateWebApplicationSignaturesPolicy
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: policyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/WebApplicationSignaturesPolicyDTO'
    post:
      operationId: createWebApplicationSignaturesPolicy
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: policyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/WebApplicationSignaturesPolicyDTO'
    delete:
      operationId: deleteWebApplicationSignaturesPolicy
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: policyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    get:
      operationId: getWebApplicationSignaturesPolicy
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: policyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/WebApplicationSignaturesPolicyDTO'
  /v1/conf/dasAssessment/scanResults:
    post:
      operationId: scanResults
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/DasAssessmentResultsFilterDTO'
  /v1/conf/tags/{tagName}:
    put:
      operationId: updateTag
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: tagName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/TagDTO'
    post:
      operationId: createTag
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: tagName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    delete:
      operationId: deleteTag
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: tagName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: remove
        in: query
        required: false
        schema:
          type: boolean
        description: ''
      - name: delete
        in: query
        required: false
        schema:
          type: boolean
        description: ''
      responses:
        default:
          description: successful operation
  /v1/conf/agents/{agentName}/tags/{tagName}:
    post:
      operationId: tagAgent
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: tagName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: agentName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    delete:
      operationId: removeTagFromAgent
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: tagName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: agentName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
  /v1/conf/policies/security/webServiceCustomPolicies:
    get:
      operationId: getAllPolicies
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/CustomWebPoliciesDTO'
  /v1/conf/webServices/{siteName}/{serverGroupName}/{webServiceName}/krpInboundRules:
    get:
      operationId: getAllKrpItems
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/KrpItemsDTO'
  /v1/conf/policies/security/webServiceCustomPolicies/{policyName}:
    put:
      operationId: updateWebServiceCustomPolicy
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: policyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/CustomWebPolicyDTO'
    post:
      operationId: createWebServiceCustomPolicy
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: policyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/CustomWebPolicyDTO'
    delete:
      operationId: deleteWebServiceCustomPolicy
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: policyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    get:
      operationId: getWebServiceCustomPolicy
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: policyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/CustomWebPolicyDTO'
  /v1/conf/gatewayGroups/{gatewayGroupName}:
    post:
      operationId: createGatewayGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: gatewayGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/GatewayGroupDTO'
    delete:
      operationId: deleteGatewayGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: gatewayGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
  ? /v1/conf/applicationGroups/{applicationGroupName}/applications/{siteName}/{serverGroupName}/{serviceName}/{applicationName}
  : post:
      operationId: addAppToAppGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: applicationGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serviceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: applicationName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    delete:
      operationId: removeAppFromAppGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: applicationGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serviceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: applicationName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
  /v1/conf/dbServices/{siteName}/{serverGroupName}/{dbServiceName}:
    put:
      operationId: updateDbService
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: dbServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/UpdateDBServiceDTO'
    post:
      operationId: createDbService
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: dbServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/CreateDBServiceDTO'
    delete:
      operationId: deleteService
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: dbServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    get:
      operationId: getService
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: dbServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/UpdateDBServiceDTO'
  /v1/conf/dbApplications/{siteName}/{serverGroupName}/{dbServiceName}/{dbApplicationName}:
    put:
      operationId: updateApplication
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: dbServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: dbApplicationName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/DBApplicationDTO'
    post:
      operationId: createApplication
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: dbServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: dbApplicationName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    delete:
      operationId: deleteApplication
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: dbServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: dbApplicationName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
  /v1/conf/webProfile/{siteName}/{serverGroupName}/{webServiceName}/{webApplicationName}:
    put:
      operationId: setProfile
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webApplicationName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/WebProfileDTO'
    get:
      operationId: getProfile
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webApplicationName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/WebProfileDTO'
  /v1/conf/ipGroups/{ipGroupName}/clear:
    delete:
      operationId: removeAllInIpGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: ipGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
  /v1/conf/envExport:
    post:
      operationId: exportEnvironment
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: should-fail-on-unsupported-dependency
        in: query
        required: false
        schema:
          type: boolean
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/ItemsToExportDTO'
  /v1/conf/policies/security/streamSignaturesPolicies:
    get:
      operationId: getAllStreamSignaturesPolicies
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/StreamSignaturesPoliciesDTO'
  /v1/conf/webServices/{siteName}/{serverGroupName}/{webServiceName}/hostToAppMappings:
    get:
      operationId: getHostToApplicationMappings
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/HostToApplicationMappingsDTO'
  /v1/conf/dataSets/{dataSetName}/columns:
    get:
      operationId: getDatasetColumns
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: dataSetName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/DatasetColumnsDTO'
  /v1/conf/tableGroups/{tableGroupName}:
    delete:
      operationId: removeTableGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: tableGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
  /v1/conf/agents/{agentName}/tags:
    put:
      operationId: addTagsToAgent
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: agentName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/TagsDTO'
    post:
      operationId: setAgentTags
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: agentName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/TagsDTO'
    delete:
      operationId: untagAgent
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: agentName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    get:
      operationId: getAgentTags
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: agentName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/TagsDTO'
  /v1/conf/globalObjects/parameterTypeConfiguration:
    get:
      operationId: getAllParameterTypeConfigurations
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/ParameterTypeConfigurationsDTO'
  /v1/conf/gateways/{gatewayName}:
    get:
      operationId: getGateway
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: gatewayName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/GatewayDetailedDTO'
  /v1/conf/sites/{siteName}:
    put:
      operationId: updateSite
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/SiteDTO'
    post:
      operationId: createSite
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    delete:
      operationId: deleteSite
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
  /v1/conf/dbServices/{siteName}/{serverGroupName}/{serviceName}/dbConnections/{connectionName}:
    put:
      operationId: updateDBConnection
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serviceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: connectionName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/DBConnectionDTO'
    post:
      operationId: createDBConnection
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serviceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: connectionName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/DBConnectionDTO'
    delete:
      operationId: deleteDBConnection
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serviceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: connectionName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    get:
      operationId: getDBConnection
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serviceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: connectionName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/DBConnectionDTO'
  /v1/conf/webServices/{siteName}/{serverGroupName}:
    get:
      operationId: getAllWebServices
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/WebServicesDTO'
  /v1/conf/applicationGroups/{applicationGroupName}/dbSecurityPolicies/{policyName}:
    post:
      operationId: applyAndLockDBSecurityPolicyToApplicationGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: applicationGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: policyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    delete:
      operationId: removeAndUnlockDBSecurityPolicyFromApplicationGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: applicationGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: policyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
  /v1/conf/serverGroups/{siteName}:
    get:
      operationId: getServerGroups
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/ServerGroupsDTO'
  /v1/conf/policies/security/httpProtocolSignaturesPolicies/{policyName}:
    put:
      operationId: updateHttpProtocolSignaturesPolicy
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: policyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/HttpProtocolSignaturesPolicyDTO'
    post:
      operationId: createHttpProtocolSignaturesPolicy
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: policyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/HttpProtocolSignaturesPolicyDTO'
    delete:
      operationId: deleteHttpProtocolSignaturesPolicy
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: policyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    get:
      operationId: getHttpProtocolSignaturesPolicy
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: policyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/HttpProtocolSignaturesPolicyDTO'
  /v1/conf/dbServices/{siteName}/{serverGroupName}/{serviceName}/dbSecurityPolicies:
    get:
      operationId: getDBSecurityPoliciesAppliedToService
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serviceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/DBSecurityPoliciesDTO'
  /v1/conf/agents/{agentName}/Settings/CPUUsageRestraining:
    put:
      operationId: setCPUUsageRestraining
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: agentName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/AgentCpuUsageRestrainingDTO'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/AgentCpuUsageRestrainingDTO'
    get:
      operationId: getCPUUsageRestraining
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: agentName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/AgentCpuUsageRestrainingDTO'
  /v1/conf/gateways/{gatewayName}/move/{targetGatewayGroupName}:
    put:
      operationId: moveGatewayToGatewayGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: gatewayName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: targetGatewayGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
  /v1/conf/actionSets/{actionSetName}/{actionName}:
    put:
      operationId: updateActionInActionSet
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: actionSetName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: actionName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/ActionDTO'
    post:
      operationId: createActionInActionSet
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: actionSetName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: actionName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/ActionDTO'
    delete:
      operationId: deleteActionInActionSet
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: actionSetName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: actionName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    get:
      operationId: getActionInActionSet
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: actionSetName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: actionName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/ActionDTO'
  /v1/conf/dbServices/{siteName}/{serverGroupName}/{serviceName}/dbConnections:
    get:
      operationId: getDBConnectionsByService
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serviceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/DBConnectionsDTO'
  ? /v1/conf/webServices/{siteName}/{serverGroupName}/{webServiceName}/krpInboundRules/{gatewayGroupName}/{aliasName}/{gatewayPort}/krpOutboundRules
  : get:
      operationId: getKrpRules
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: gatewayGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: aliasName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: gatewayPort
        in: path
        required: true
        schema:
          type: integer
        description: ''
      - name: internalIpHost
        in: query
        required: false
        schema:
          type: string
        description: ''
      - name: serverPort
        in: query
        required: false
        schema:
          type: integer
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/KrpRulesDTO'
  /v1/conf/tableGroups/{tableGroupName}/data:
    put:
      operationId: incrementalOperationsOnTableGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: tableGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: overwrite
        in: query
        required: false
        schema:
          type: boolean
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/TableGroupRecordsActionDTO'
    post:
      operationId: updateTableGroupRecords
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: tableGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/TableGroupRecordsDTO'
    delete:
      operationId: deleteAllTableGroupRecords
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: tableGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    get:
      operationId: getTableGroupRecords
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: tableGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: from
        in: query
        required: false
        schema:
          type: integer
        description: ''
      - name: to
        in: query
        required: false
        schema:
          type: integer
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/TableGroupRecordsOutputDTO'
  /v1/conf/agents:
    get:
      operationId: getAllAgents
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: taglist
        in: query
        required: false
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/AgentsDTO'
  /v1/conf/policies/security/firewallPolicies/{policyName}:
    put:
      operationId: updateFirewallPolicy
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: policyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/FirewallPolicyDTO'
    post:
      operationId: createFirewallPolicy
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: policyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/FirewallPolicyDTO'
    delete:
      operationId: deleteFirewallPolicy
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: policyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    get:
      operationId: getFirewallPolicy
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: policyName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/FirewallPolicyDTO'
  /v1/conf/serverGroups/{siteName}/{serverGroupName}/servers:
    get:
      operationId: getOSConnectionsByServerGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/OSConnectionsDTO'
  ? /v1/conf/webServices/{siteName}/{serverGroupName}/{webServiceName}/krpInboundRules/{gatewayGroupName}/{aliasName}/{gatewayPorts}
  : post:
      operationId: createKrpItem
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: gatewayGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: aliasName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: gatewayPorts
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/KrpItemDTO'
  /v1/conf/webServices/{siteName}/{serverGroupName}/{webServiceName}/sslCertificates:
    get:
      operationId: getCertificates
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/CertificatesDTO'
  /v1/conf/webServices/{siteName}/{serverGroupName}/{webServiceName}/errorPage:
    put:
      operationId: updateErrorPage
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/ErrorPageDTO'
    get:
      operationId: getErrorPage
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/ErrorPageDTO'
  /v1/conf/dasAssessment/policies:
    post:
      operationId: policies
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      responses:
        default:
          description: successful operation
  ? /v1/conf/webServices/{siteName}/{serverGroupName}/{webServiceName}/krpInboundRules/{gatewayGroupName}/{aliasName}/{gatewayPort}
  : put:
      operationId: updateKrpItem
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: gatewayGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: aliasName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: gatewayPort
        in: path
        required: true
        schema:
          type: integer
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/KrpItemDetailsDTO'
    delete:
      operationId: deleteKrpItem
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: gatewayGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: aliasName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: gatewayPort
        in: path
        required: true
        schema:
          type: integer
        description: ''
      responses:
        default:
          description: successful operation
    get:
      operationId: getKrpItem
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: gatewayGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: aliasName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: gatewayPort
        in: path
        required: true
        schema:
          type: integer
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/KrpItemDetailsDTO'
  /v1/conf/mxs:
    get:
      operationId: getAllMxs
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/MxsDTO'
  /v1/conf/webServices/{siteName}/{serverGroupName}/{webServiceName}/hostToAppMappings/{priority}:
    delete:
      operationId: removeHostToApplicationMapping
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: priority
        in: path
        required: true
        schema:
          type: integer
        description: ''
      responses:
        default:
          description: successful operation
    get:
      operationId: getHostToApplicationMapping
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: siteName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: serverGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: webServiceName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: priority
        in: path
        required: true
        schema:
          type: integer
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/HostToApplicationMappingDTO'
  /v1/conf/tags:
    get:
      operationId: getAllTags
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: tagPrefix
        in: query
        required: false
        schema:
          type: string
        description: ''
      - name: name
        in: query
        required: false
        schema:
          type: string
        description: ''
      - name: purpose
        in: query
        required: false
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/TagsDTO'
  /v1/conf/ipGroups/{ipGroupName}/data:
    put:
      operationId: updateIpGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: ipGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/IpGroupEntriesDTO'
    get:
      operationId: getAllEntriesInGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: ipGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/IpGroupEntriesDTO'
  /v1/conf/policies/security/httpProtocolSignaturesPolicies:
    get:
      operationId: getAllHttpProtocolSignaturesPolicies
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/HttpProtocolSignaturesPoliciesDTO'
  /v1/conf/gatewayGroups/{gatewayGroupName}/gateways:
    get:
      operationId: getAllGateways
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: gatewayGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/GatewaysDTO'
  /v1/conf/applicationGroups/{applicationGroupName}:
    put:
      operationId: updateApplicationGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: applicationGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/definitions/ApplicationGroupDTO'
    post:
      operationId: createApplicationGroupAsRoot
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: applicationGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    delete:
      operationId: deleteApplicationGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: applicationGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      responses:
        default:
          description: successful operation
    get:
      operationId: getApplicationGroup
      summary: ''
      description: ''
      tags:
      - Conf
      security:
      - basicAuth: []
      parameters:
      - name: applicationGroupName
        in: path
        required: true
        schema:
          type: string
        description: ''
      - name: fullDepth
        in: query
        required: false
        schema:
          type: boolean
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/ApplicationGroupTreeDTO'
  /v1/conf/dasAssessment/scanInfo:
    post:
      operationId: scanInfo
      summary: ''
      description: ''
      tags:
[...]
