openapi: 3.0.1
info:
  title: Cloud Application Security Account Management Auth API
  license:
    name: Imperva License Agreement.
    url: http://www.imperva.com/other/license_agreement.asp
  version: '1.0'
  description: Add, delete, and modify accounts. Get account details.
servers:
- url: https://my.imperva.com
  description: Imperva API server
  variables: {}
security:
- api_key: []
- api_id: []
tags:
- name: Auth
paths:
  /v1/auth/session/roles:
    get:
      operationId: getRole
      summary: ''
      description: ''
      tags:
      - Auth
      security:
      - basicAuth: []
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
  /v1/auth/session:
    post:
      operationId: getSessionId
      summary: ''
      description: ''
      tags:
      - Auth
      security:
      - basicAuth: []
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/definitions/SessionIdDTO'
    delete:
      operationId: logout
      summary: ''
      description: ''
      tags:
      - Auth
      security:
      - basicAuth: []
      responses:
        default:
          description: successful operation
components:
  securitySchemes:
    api_id:
      type: apiKey
      name: x-API-Id
      in: header
    api_key:
      type: apiKey
      name: x-API-Key
      in: header
externalDocs:
  description: Cloud Application Security API Reference
  url: https://docs.imperva.com/bundle/cloud-application-security/page/api/api.htm
